<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="scan">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>{{ 'Tabs.scan' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="terminal">
      <ion-icon name="options-outline"></ion-icon>
      <ion-label>Terminal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>{{ 'Tabs.info' | translate }}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
