<div class="inner-content">
  <h1>{{ "AddFilter.addfilter" | translate }}</h1>
  <ion-select
    label="{{ 'AddFilter.filtertype' | translate }} :"
    interface="popover"
    class="scanfilter"
    value="{{ filters[selectedFilter] }}"
    (ionChange)="filterChanged($event)"
    >
    <ion-select-option value="Name">{{
      "AddFilter.filters.Name" | translate
    }}</ion-select-option>
    <ion-select-option value="ServiceUUID">{{
      "AddFilter.filters.ServiceUUID" | translate
    }}</ion-select-option>
    @if (this.platform.is('desktop') != true) {
      <ion-select-option
        value="RSSI"
        >{{ "AddFilter.filters.RSSI" | translate }}</ion-select-option
        >
      }
    </ion-select>
    @switch (filters[selectedFilter]) {
      @case ('Name') {
        <ion-input
          [value]="name"
          label="{{ 'AddFilter.filters.Name' | translate }}"
          (ionInput)="onNameInput($event)"
        ></ion-input>
      }
      @case ('ServiceUUID') {
        @for (serviceUUID of serviceUUIDs; track serviceUUID) {
          <ion-item>
            <ion-checkbox [(ngModel)]="selectedServiceUUIDs[serviceUUID]">
              {{ serviceUUID }}
              {{ "AddFilter.filters.ServiceUUID" | translate }}
            </ion-checkbox>
          </ion-item>
        }
      }
      @case ('RSSI') {
        <ion-range
          [min]="-120"
          [max]="0"
          [(ngModel)]="rssi"
          [pin]="true"
          >
          <ion-label slot="start" class="rssi-label">{{ 'AddFilter.filters.RSSI' | translate }}</ion-label>
          <ion-label slot="end" class="rssi-label">{{rssi}} dBm</ion-label>
        </ion-range>
      }
    }
    <ion-button
      [disabled]="this.name.length == 0 && filters[selectedFilter] == 'Name'"
      class="ion-margin-top"
      (click)="addfilter()"
      style="width: 100%"
      >{{ "AddFilter.add" | translate }}</ion-button
      >
    </div>
