<div class="inner-content">
  <ion-grid class="scanheader">
    <ion-row class="ion-align-items-center">
      <ion-col>
        <h1 class="ion-margin-vertical">{{ 'ConfigGPIO.configgpio' | translate }}</h1>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-button size="small" (click)="readpinconfig()">{{ 'ConfigGPIO.readconfig' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-segment [scrollable]="true" [(ngModel)]="this.selectedpin">
    <ion-segment-button *ngFor="let pin of device.getGPIOPins() | keyvalue" value="{{pin.key}}" (click)="pinchanged(pin.key)">
      <ion-label class="pinlabel">{{pin.value.getPinName()}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-select #pintypeselect interface="popover" value="{{pinTypes[this.device.getTempGPIOPins().get(+this.selectedpin).getPinType()]}}" (ionChange)="pinTypeChanged($event)">
        <ion-select-option value="NoConfiguration">{{ 'ConfigGPIO.pintypeselection.noconfiguration' | translate }}</ion-select-option>
        <ion-select-option value="Input">{{ 'ConfigGPIO.pintypeselection.input' | translate }}</ion-select-option>
        <ion-select-option value="Output">{{ 'ConfigGPIO.pintypeselection.output' | translate }}</ion-select-option>
        <ion-select-option *ngIf="this.device.getTempGPIOPins().get(+this.selectedpin).getPWMSupport() == true" value="PWM">{{ 'ConfigGPIO.pintypeselection.pwm' | translate }}</ion-select-option>
      </ion-select>
    </ion-row>

    <ng-container [ngSwitch]="pinTypes[this.device.getTempGPIOPins().get(+this.selectedpin).getPinType()]">

      <ng-container *ngSwitchCase="'Input'">
        <ion-row class="ion-margin-top">
          <ion-radio-group value="{{inputPinTypes[this.device.getTempGPIOPins().get(+this.selectedpin).getPinConfigValue().getUint8(0)]}}" (ionChange)="inputTypeChanged($event)">
            <ion-radio labelPlacement="end" value="NoPull">{{ 'ConfigGPIO.input.nopull' | translate }}</ion-radio><br/>
            <ion-radio labelPlacement="end" value="PullDown">{{ 'ConfigGPIO.input.pulldown' | translate }}</ion-radio><br/>
            <ion-radio labelPlacement="end" value="PullUp">{{ 'ConfigGPIO.input.pullup' | translate }}</ion-radio>
          </ion-radio-group>
        </ion-row>
      </ng-container>

      <ng-container *ngSwitchCase="'Output'">
        <ion-row class="ion-margin-top">
          <ion-radio-group value="{{outputPinTypes[this.device.getTempGPIOPins().get(+this.selectedpin).getPinConfigValue().getUint8(0)]}}" (ionChange)="outputTypeChanged($event)">
            <ion-radio labelPlacement="end" value="Low">{{ 'ConfigGPIO.output.low' | translate }}</ion-radio><br/>
            <ion-radio labelPlacement="end" value="High">{{ 'ConfigGPIO.output.high' | translate }}</ion-radio>
          </ion-radio-group>
        </ion-row>
      </ng-container>

      <ng-container *ngSwitchCase="'PWM'">
        <ion-row class="ion-margin-top">
          <ion-input value="{{this.device.getTempGPIOPins().get(+this.selectedpin).getPinConfigValue().getUint16(0)}}" (ionInput)="onpwmPeriodInput($event)" (ionChange)="onpwmPeriodChange($event)" #pwmperiod label="{{ 'ConfigGPIO.pwm.period' | translate }}" type="number" [min]="1" [max]="500" placeholder="<1-500> ms"></ion-input>
        </ion-row>
        <ion-row class="ion-margin-end ion-margin-top">
          <ion-range [pin]="true" [pinFormatter]="pwmRatioformatter" (ionChange)="pwmRatioChanged($event)" value="{{this.device.getTempGPIOPins().get(+this.selectedpin).getPinConfigValue().getUint8(2) * 100 / 254}}">
            <div slot="label" style="margin-right: 10px !important;">{{ 'ConfigGPIO.pwm.ratio' | translate }}</div>
          </ion-range>
        </ion-row>
      </ng-container>

    </ng-container>

    <ion-row class="ion-margin-top">
      <ion-col size="auto" class="ion-text-left ion-align-self-end">
        <ion-button size="small" (click)="backclicked()">{{ 'ConfigGPIO.back' | translate }}</ion-button>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-button size="small" (click)="writepinconfig()">{{ 'ConfigGPIO.configpin' | translate }}</ion-button>
        <ion-button size="small" (click)="writeallpinconfig()">{{ 'ConfigGPIO.configallpins' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>