<div class="inner-content">
  <h1>{{ 'SelectEncoding.selectencoding' | translate }}</h1>
  <ion-list tabindex="0">
    <ion-radio-group [(ngModel)]="selectedencodingstring">
      @for (encoding of encodingtypes; track encoding) {
        <ion-item>
          <ion-radio value="{{encoding}}">{{ encoding }}</ion-radio>
        </ion-item>
      }
    </ion-radio-group>
  </ion-list>
  @switch (selectedencodingstring) {
    @case ('ASCII') {
      <ion-checkbox [(ngModel)]="only_printable_ascii" class="ion-margin-start">{{ 'SelectEncoding.printablechars' | translate }}</ion-checkbox>
    }
  }
  <ion-button class="ion-margin-top" style="width: 100%;" (click)="encodingselected()">{{ 'SelectEncoding.select' | translate }}</ion-button>
</div>
